In [3]:
import numpy as np
import matplotlib.pyplot as plt
from database_methods import Table, to_show, head
import sqlite3
con = sqlite3.connect('database_results.db')
cursor = con.cursor()

In [4]:
mas = Table(connection=con, name='masters')
exp = Table(con, name = 'experiments')
meas = Table(con, name = 'measurements')

In [19]:
print(mas.columns)
print(exp.columns)
print(meas.columns)
print('-'*80)
mas.show_all()
exp.show_all()

CATEGORY, PERIOD, AMPLITUDE, MASTER, FWHM, R, S
DATE, MASTER_ID, DIP, FOLDER
EXPERIMENT_ID, NP, WAVELENGTH, FILE, AR_TH, AR_DIP, AR_NOISE, EXC_THS, RATE, INFO, COUNT, X, Y, CON, INP, INPPX, IBGPX, STD, stdX, stdY, stdCON, stdINP, stdINPPX, stdIBGPX, stdSTD, NOTES, AR_MIN, AR_COND, EXP_TYPE
--------------------------------------------------------------------------------
ID	CATEGORY	PERIOD	AMPLITUDE	MASTER	FWHM	R	S
1	600	405	45	M5	23.0	8.0	15.9
2	600	405	53	P3	25.0	19.7	3.8
3	650	452	32	K4	12.5	11.9	17.8
4	650	452	40	K5	15.0	18.0	8.8
5	750	528	24	L3	7.0	13.8	78.5
6	750	526	30	Q4	9.5	22.0	30.7
ID	DATE	MASTER_ID	DIP	FOLDER
1	20-02-25	2	615	20_02_25_P3/
2	20-02-26	6	727	20_02_26_Q3/
3	20-03-16	4	658	20_03_16_K5/
5	20-02-25	1	598	20_02_25_M5/
6	20-03-16	3	647	20_03_16_K4/
7	20-04-15	5	740	20_04_15_L3/
8	20-04-14	1	606	20_04_14_M5/

con.execute("""
UPDATE 'masters' SET S = '78.5' WHERE MASTER='L3'
""")

In [18]:
con.commit()

In [34]:
# 
columns = 'MASTER,  AVG(DIP), AVG(INP), AVG(INP/IBGPX), AVG(CON), AVG(INPPX), AVG(IBGPX)'
data = con.execute("""
SELECT {}
FROM 'masters' as MAS 
INNER JOIN 'experiments' as EXP 
ON MAS.ID = EXP.MASTER_ID
INNER JOIN 'measurements' as MEAS
ON EXP.ID = MEAS.EXPERIMENT_ID
GROUP BY MASTER
ORDER BY DIP DESC
;
   """.format(columns))

head(columns)

for row in data:
    print(str(to_show(row)).replace(', ', '\t').replace("'", "")[1:-1])

MASTER	 AVG(DI	AVG(INP	AVG(INP	AVG(CON	AVG(INP	AVG(IBG
L3	740.00	18.53	54.94	3.31	1.15	0.3505
Q4	727.00	25.81	58.02	3.81	1.73	0.4763
K5	658.00	14.79	48.99	5.44	1.64	0.3078
K4	647.00	6.18	24.67	3.32	0.9056	0.2691
P3	615.00	5.25	20.50	7.27	1.81	0.2621
M5	606.00	2.54	11.68	6.60	1.42	0.2196

In [49]:
# 
columns = ' MASTER, DATE, FILE, WAVELENGTH, NP, DIP, COUNT, RATE, CON, COUNT, X*Y, INP, INPPX, IBGPX, STD, EXP_TYPE,  NOTES'
data = con.execute("""
SELECT {}
FROM 'masters' as MAS 
INNER JOIN 'experiments' as EXP 
ON MAS.ID = EXP.MASTER_ID
INNER JOIN 'measurements' as MEAS
ON EXP.ID = MEAS.EXPERIMENT_ID
WHERE category = 750

ORDER BY date DESC
;
   """.format(columns))

head(columns)

i=0
for row in data:
    print(str(to_show(row)).replace(', ', '\t').replace("'", "")[1:-1])
    i+=1
    
    
print('---\n{}'.format(i))

 MASTER	DATE	FILE	WAVELEN	NP	DIP	COUNT	RATE	CON	COUNT	X*Y	INP	INPPX	IBGPX	STD	EXP_TYP	 NOTES
Q4	20-04-2	raw_02_	732	80	729	138	47.93	11.33	138	225.36	25.61	3.24	0.2904	0.4365	-	-
Q4	20-04-2	raw_03_	726	80	729	158	45.75	2.88	158	675.36	31.46	0.8306	0.2879	0.3733	-	-
Q4	20-04-2	raw_25_	732	60	729	201	71.88	6.06	201	277.04	20.16	1.55	0.2579	0.3590	-	-
Q4	20-04-2	raw_17_	732	80	729	226	61.15	6.50	226	306.35	25.23	1.76	0.2741	0.4109	strep	-
L3	20-04-1	raw_05_	743	80	740	64	19.23	3.29	64	535.99	27.79	1.14	0.3563	0.4479	-	-
L3	20-04-1	raw_04_	742	80	740	56	21.43	2.47	56	534.84	16.30	0.6762	0.2772	0.3531	-	-
L3	20-04-1	raw_06_	744	80	740	39	24.50	2.89	39	585.91	27.43	1.12	0.3970	0.5096	-	bubles
L3	20-04-1	raw_07_	745	80	740	94	29.50	3.66	94	472.75	33.34	1.52	0.4178	0.5305	-	nice
L3	20-04-1	raw_08_	746	80	740	86	24.14	3.36	86	458.63	31.20	1.45	0.4340	0.5498	-	nice
L3	20-04-1	raw_09_	748	80	740	67	24.06	3.91	67	305.28	22.18	1.77	0.4542	0.5750	-	-
L3	20-04-1	raw_10_	750	80	740	29	29.17	3.09	29	223.91	11.39	1.46	0.4712	0.6019	-	bad
L3	20-04-1	raw_11_	741	80	740	80	31.72	3.92	80	259.95	7.49	0.8547	0.2188	0.2834	-	FPs
L3	20-04-1	raw_12_	740	80	740	83	36.96	3.70	83	598.41	19.31	0.7353	0.1997	0.2547	-	nice
L3	20-04-1	raw_13_	739	80	740	121	45.50	3.17	121	638.04	21.61	0.8216	0.2600	0.3333	-	nice
L3	20-04-1	raw_14_	738	80	740	88	46.43	3.04	88	487.19	17.67	0.9916	0.3266	0.4151	-	-
L3	20-04-1	raw_15_	737	80	740	67	24.29	3.43	67	314.72	12.51	1.27	0.3739	0.4733	-	bg nois
L3	20-04-1	raw_18_	745	60	740	61	42.86	2.98	61	410.30	20.13	1.18	0.3968	0.5021	-	-
L3	20-04-1	raw_19_	743	60	740	47	21.31	3.18	47	499.49	21.01	1.02	0.3228	0.4105	-	-
L3	20-04-1	raw_20_	739	60	740	76	34.13	3.08	76	541.97	15.79	0.7639	0.2494	0.3158	-	-
L3	20-04-1	raw_29_	739	100	740	102	36.17	2.96	102	369.70	12.10	0.7893	0.2671	0.3481	-	FPs
L3	20-04-1	raw_30_	745	100	740	74	23.77	3.75	74	260.32	14.86	1.60	0.4289	0.5891	-	FPs	be
L3	20-04-1	raw_31_	743	100	740	54	14.52	4.37	54	247.82	13.20	1.49	0.3453	0.4741	-	-
L3	20-04-1	raw_36_	745	100	740	85	21.16	2.61	85	175.17	6.70	1.21	0.4622	0.6162	recog	nice
Q4	20-02-2	raw_07_	740	80	727	128	59.20	3.75	128	218.03	15.91	1.90	0.5354	0.6807	-	-
Q4	20-02-2	raw_04_	732	80	727	206	85.33	4.42	206	422.06	46.00	2.21	0.5202	0.6898	-	-
Q4	20-02-2	raw_05_	734	80	727	169	70.29	5.38	169	317.05	36.50	2.71	0.5129	0.6644	-	-
Q4	20-02-2	raw_06_	736	80	727	163	57.34	2.91	163	296.78	21.79	1.80	0.7632	0.9722	-	-
Q4	20-02-2	raw_08_	726	80	727	113	70.91	3.64	113	546.22	20.36	0.7776	0.2148	0.2813	-	-
Q4	20-02-2	raw_09_	724	80	727	137	89.81	3.05	137	456.27	20.65	1.01	0.3386	0.4411	-	-
Q4	20-02-2	raw_18_	732	60	727	166	97.04	3.97	166	350.01	31.03	1.96	0.5038	0.6527	-	-
Q4	20-02-2	raw_21_	732	60	727	234	96.97	3.82	234	368.74	30.71	1.76	0.4713	0.6189	sh	-
Q4	20-02-2	raw_14_	732	40	727	54	15.45	3.31	54	166.75	9.30	1.40	0.4263	0.5421	-	-
---
32

In [50]:
columns = 'NP, WAVELENGTH, AR_TH, AR_NOISE, EXC_THS'
data = con.execute("""
SELECT {} FROM 'measurements'
WHERE WAVELENGTH=745
ORDER BY WAVELENGTH ASC;
   """.format(columns))

print(columns.replace(', ','\t'))
for row in data:
    print(str(row).replace(', ', '\t').replace("'", "")[1:-1])

NP	WAVELENGTH	AR_TH	AR_NOISE	EXC_THS
80	745	39.0	0.001	[2	17.580000000000002]
60	745	30.0	0.001	[2	17.580000000000002]
100	745	38.0	0.001	[2.5	17.580000000000002]
100	745	100.0	0.001	None

In [213]:
con.execute("""
UPDATE 'measurements' SET NOTES = 'weak' WHERE COUNT = 165
""")

meas.del_row(5)

In [215]:
meas.commit()

In [9]:
con.close()