In [3]:
import numpy as np
import matplotlib.pyplot as plt
from database_methods import Table
import sqlite3

In [32]:
con = sqlite3.connect('database_results.db')
cursor = con.cursor()

In [35]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('masters',), ('sqlite_sequence',), ('experiments',)]

In [8]:
dg = Table(connection=con, name='masters')

In [19]:
dg.show_all()

ID	CATEGORY	PERIOD	AMPLITUDE	MASTER
1	600	405	45	M5
2	600	405	53	P3
3	650	452	32	K4
4	650	452	40	K5
5	750	528	24	L3
6	750	526	30	Q4

In [18]:
print(dg.columns)
dg.insert(750, 526, 30, 'Q4')

CATEGORY, PERIOD, AMPLITUDE, MASTER

In [36]:
dg.commit()

ProgrammingError: Cannot operate on a closed database.

In [37]:
con.close()

cursor.execute("""
CREATE TABLE 'masters'(
ID   INTEGER   PRIMARY KEY   AUTOINCREMENT,
CATEGORY INT NOT NULL,
PERIOD INT NOT NULL,
AMPLITUDE INT NOT NULL,
MASTER CHARACTER(8))
""")

In [34]:
cursor.execute("""
CREATE TABLE 'experiments'(
ID   INTEGER   PRIMARY KEY   AUTOINCREMENT,
DATE   DATE NOT NULL,
MASTER_ID INTEGER NOT NULL,
DIP INTEGER NOT NULL,
FOLDER TEXT NOT NULL, 
COUNT TEXT NOT NULL,
AR TEXT NOT NULL,
X REAL NOT NULL, 
Y REAL NOT NULL,
CON REAL NOT NULL,
INP  REAL NOT NULL,
INPPX REAL NOT NULL,
IBGPX REAL NOT NULL,
STD REAL NOT NULL,
stdX REAL NOT NULL,
stdY REAL NOT NULL,
stdCON REAL NOT NULL,
stdINP REAL NOT NULL,
stdINPPX REAL NOT NULL,
stdIBGPX REAL NOT NULL,
stdSTD REAL NOT NULL
)
""")

In [6]:
exp = Table(con, name = 'experiments')

In [7]:
exp.columns

'DATE, MASTER_ID, DIP, FOLDER, COUNT, X, Y, CON, INP, INPPX, IBGPX, STD, stdX, stdY, stdCON, stdINP, stdINPPX, stdIBGPX, stdSTD'

cursor.execute("""
CREATE TABLE 'measurements'(
ID   INTEGER   PRIMARY KEY   AUTOINCREMENT,
EXPERIMENT_ID  INTEGER NOT NULL,
NP INTEGER NOT NULL,
WAVELENGTH INTEGER NOT NULL,
FILE TEXT NOT NULL
)
""")

cursor.execute("""
INSERT INTO  'diffraction_gratings' (CATEGORY, PERIOD, AMPLITUDE, MASTER)
VALUES (600, 406, 45, 'M5')
""")
cursor.execute("""
INSERT INTO  'diffraction_gratings' (CATEGORY, PERIOD, AMPLITUDE, MASTER)
VALUES (600, 406, 5345, 'P3')
""")

cursor.execute("""
INSERT INTO  'experiments' (DATE, MASTER_ID, DIP, FOLDER)
VALUES ('2020-02-25', 0, 598, '20_02_25_M5')
""")
cursor.execute("""
INSERT INTO  'experiments' (DATE, MASTER_ID, DIP, FOLDER)
VALUES ('2020-02-25', 1, 615, '20_02_25_P3')
""")

cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (1, 80, 618, '01')
""")
cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (1, 80, 620, '02')
""")
cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (2, 80, 609, '01')
""")
cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (2, 80, 630, '02')
""")

In [10]:
dg.clear_all()

Really? y/n y

In [10]:
cursor = con.execute("""
SELECT ID from 'diffraction_gratings'
WHERE MASTER == 'P3';
""")

for row in cursor:
    print(str(row).replace(', ', '\t').replace("'", "")[1:-1])

7,