In [26]:
import numpy as np
import matplotlib.pyplot as plt
from database_methods import Table
import sqlite3
con = sqlite3.connect('database_results.db')
# con = sqlite3.connect('database_nanoparticles.db')

cursor = con.cursor()

cursor.execute("DROP TABLE 'measurements';")

In [10]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('masters',), ('sqlite_sequence',), ('experiments',)]

In [22]:
dg = Table(connection=con, name='masters')
exp = Table(con, name = 'experiments')
meas = Table(con, name = 'measurements')

In [14]:
dg.show_all()

ID	CATEGORY	PERIOD	AMPLITUDE	MASTER
1	600	405	45	M5
2	600	405	53	P3
3	650	452	32	K4
4	650	452	40	K5
5	750	528	24	L3
6	750	526	30	Q4

In [15]:
print(dg.columns)
# dg.insert(750, 526, 30, 'Q4')

CATEGORY, PERIOD, AMPLITUDE, MASTER

In [16]:
dg.commit()

In [17]:
exp.show_all()

ID	DATE	MASTER_ID	DIP	FOLDER
1	20-02-25	2	615	20_02_25_P3/
2	20-02-26	6	727	20_02_26_Q3/
3	20-03-16	3	647	20_03_16_K5/
4	20-02-26	5	741	20_02_26_L3/
5	20-02-25	1	598	20_02_25_M5/

In [23]:
meas.columns

'EXPERIMENT_ID, NP, WAVELENGTH, FILE, AR_TH, AR_DIP, AR_NOISE, EXC_THS, RATE, INFO, COUNT, X, Y, CON, INP, INPPX, IBGPX, STD, stdX, stdY, stdCON, stdINP, stdINPPX, stdIBGPX, stdSTD, NOTES'

In [19]:
meas.show_all()

ID	EXPERIMENT_ID	NP	WAVELENGTH	FILE	AR_TH	AR_DIP	AR_NOISE	EXC_THS	RATE	INFO	COUNT	X	Y	CON	INP	INPPX	IBGPX	STD	stdX	stdY	stdCON	stdINP	stdINPPX	stdIBGPX	stdSTD
1	2	80	740	raw_07_1	30.0	-0.003	0.001	[2.4]	59.2	============================================================\nINFO:\n\n--gamma--\nDots number: 5253\nFit fails: 0\n\n--exclusion--\nNumber of excluded nps: 189\n\n--statistics--\nNP count: 108\nRate per 100 frames: 59.2\nCompared to reference: 123.6 %\n\n--statistics--\nNP count: 108\nRate per 100 frames: 59.2\nCompared to reference: 123.6 %\n\n--histogram--\n5 x sigma = 158387761.65\n6 x sigma = 190065313.97\nthreshold = 30\n\n--elapsed time--\n8.25 s\n	128	16.71015625	13.04765625	3.7494866284721313	15.905610611503004	1.9026508421300912	0.5353820874777333	0.6807231959396716	2.2977444729747334	1.5905278626405566	1.7503476747999844	10.991322896911994	0.8934848150226142	0.09829869776741498	0.12393209707225228

In [24]:
con.close()

cursor.execute("""
CREATE TABLE 'masters'(
ID   INTEGER   PRIMARY KEY   AUTOINCREMENT,
CATEGORY INT NOT NULL,
PERIOD INT NOT NULL,
AMPLITUDE INT NOT NULL,
MASTER CHARACTER(8))
""")

cursor.execute("""
CREATE TABLE 'experiments'(
ID   INTEGER   PRIMARY KEY   AUTOINCREMENT,
DATE   DATE NOT NULL,
MASTER_ID INTEGER NOT NULL,
DIP INTEGER NOT NULL,
FOLDER TEXT NOT NULL
)
""")

cursor.execute("""
CREATE TABLE 'nanoparticles'(
ID   INTEGER   PRIMARY KEY   AUTOINCREMENT,
EXPERIMENT_ID  INTEGER NOT NULL,
NP INTEGER NOT NULL,
WAVELENGTH INTEGER NOT NULL,
FILE TEXT NOT NULL,
AR TEXT NOT NULL,
COUNT TEXT NOT NULL,
X REAL NOT NULL, 
Y REAL NOT NULL,
CON REAL NOT NULL,
INP  REAL NOT NULL,
INPPX REAL NOT NULL,
IBGPX REAL NOT NULL,
STD REAL NOT NULL,
stdX REAL NOT NULL,
stdY REAL NOT NULL,
stdCON REAL NOT NULL,
stdINP REAL NOT NULL,
stdINPPX REAL NOT NULL,
stdIBGPX REAL NOT NULL,
stdSTD REAL NOT NULL
)
""")

cursor.execute("""
CREATE TABLE 'measurements'(
ID   INTEGER   PRIMARY KEY   AUTOINCREMENT,
EXPERIMENT_ID  INTEGER NOT NULL,
NP INTEGER NOT NULL,
WAVELENGTH INTEGER NOT NULL,
FILE TEXT NOT NULL,
AR_TH REAL NOT NULL,
AR_DIP REAL,
AR_NOISE REAL,
EXC_THS TEXT,
RATE REAL,
INFO TEXT,
COUNT INT NOT NULL,
X REAL NOT NULL, 
Y REAL NOT NULL,
CON REAL NOT NULL,
INP  REAL NOT NULL,
INPPX REAL NOT NULL,
IBGPX REAL NOT NULL,
STD REAL NOT NULL,
stdX REAL NOT NULL,
stdY REAL NOT NULL,
stdCON REAL NOT NULL,
stdINP REAL NOT NULL,
stdINPPX REAL NOT NULL,
stdIBGPX REAL NOT NULL,
stdSTD REAL NOT NULL)
""")

In [27]:
cursor.execute("""ALTER TABLE 'measurements' ADD COLUMN AR_MIN INT;""")
cursor.execute("""ALTER TABLE 'measurements' ADD COLUMN AR_COND INT;""")
cursor.execute("""ALTER TABLE 'measurements' ADD COLUMN EXP_TYPE TEXT;""")

cursor.execute("""
INSERT INTO  'diffraction_gratings' (CATEGORY, PERIOD, AMPLITUDE, MASTER)
VALUES (600, 406, 45, 'M5')
""")
cursor.execute("""
INSERT INTO  'diffraction_gratings' (CATEGORY, PERIOD, AMPLITUDE, MASTER)
VALUES (600, 406, 5345, 'P3')
""")

cursor.execute("""
INSERT INTO  'experiments' (DATE, MASTER_ID, DIP, FOLDER)
VALUES ('2020-02-25', 0, 598, '20_02_25_M5')
""")
cursor.execute("""
INSERT INTO  'experiments' (DATE, MASTER_ID, DIP, FOLDER)
VALUES ('2020-02-25', 1, 615, '20_02_25_P3')
""")

cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (1, 80, 618, '01')
""")
cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (1, 80, 620, '02')
""")
cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (2, 80, 609, '01')
""")
cursor.execute("""
INSERT INTO  'measurements' (EXPERIMENT_ID, NP, WAVELENGTH, FILE)
VALUES (2, 80, 630, '02')
""")

In [10]:
dg.clear_all()

Really? y/n y

In [8]:
cursor = con.execute("""
SELECT ID from 'masters'
WHERE MASTER == 'P3';
""")

for row in cursor:
    print(row[0])
    print(str(row).replace(', ', '\t').replace("'", "")[1:-1])

2
2,

In [13]:
print(cursor.fetchone())

None