In [11]:
import numpy as np
import matplotlib.pyplot as plt
from database_methods import Table, to_show
import sqlite3
con = sqlite3.connect('database_results.db')
cursor = con.cursor()

In [12]:
dg = Table(connection=con, name='masters')
exp = Table(con, name = 'experiments')
meas = Table(con, name = 'measurements')

In [13]:
print(dg.columns)
print(exp.columns)
print(meas.columns)

CATEGORY, PERIOD, AMPLITUDE, MASTER
DATE, MASTER_ID, DIP, FOLDER
EXPERIMENT_ID, NP, WAVELENGTH, FILE, AR_TH, AR_DIP, AR_NOISE, EXC_THS, RATE, INFO, COUNT, X, Y, CON, INP, INPPX, IBGPX, STD, stdX, stdY, stdCON, stdINP, stdINPPX, stdIBGPX, stdSTD, NOTES

In [14]:
data = con.execute("""
SELECT NP, WAVELENGTH, DIP, DATE, COUNT, CON
FROM 'experiments' as EXP INNER JOIN 'measurements' as MEAS
   ON EXP.ID = MEAS.EXPERIMENT_ID;
   """)
for row in data:
    print(str(row).replace(', ', '\t').replace("'", "")[1:-1])

80	740	727	20-02-26	128	3.7494866284721313
80	732	727	20-02-26	206	4.424635611736389
80	734	727	20-02-26	169	5.380528060883221
80	736	727	20-02-26	163	2.907049071433627
80	740	727	20-02-26	128	3.7494866284721313
80	726	727	20-02-26	113	3.6359160741949874

In [56]:
columns = 'MEAS.ID, WAVELENGTH, NP, DIP, FILE, DATE, RATE, CON, MASTER, NOTES'
data = con.execute("""
SELECT {}
FROM 'masters' as MAS 
INNER JOIN 'experiments' as EXP 
ON MAS.ID = EXP.MASTER_ID
INNER JOIN 'measurements' as MEAS
ON EXP.ID = MEAS.EXPERIMENT_ID;
   """.format(columns))

print(columns.replace(', ','\t'))
for row in data:
    print(str(to_show(row)).replace(', ', '\t').replace("'", "")[1:-1])

MEAS.ID	WAVELENGTH	NP	DIP	FILE	DATE	RATE	CON	MASTER	NOTES
1	740	80	727	raw_07_1	20-02-26	59.20	3.75	Q4	minimal_area = 6
2	732	80	727	raw_04_1	20-02-26	85.33	4.42	Q4	-
3	734	80	727	raw_05_1	20-02-26	70.29	5.38	Q4	-
4	736	80	727	raw_06_1	20-02-26	57.34	2.91	Q4	-
6	726	80	727	raw_08_1	20-02-26	70.91	3.64	Q4	-
7	724	80	727	raw_09_1	20-02-26	89.81	3.05	Q4	-
8	732	60	727	raw_18_1	20-02-26	97.04	3.97	Q4	-
9	732	60	727	raw_21_1	20-02-26	96.97	3.82	Q4	sh

In [40]:
columns = 'NP, WAVELENGTH, X'
data = con.execute("""
SELECT {} FROM 'measurements';
   """.format(columns))

print(columns.replace(', ','\t'))
for row in data:
    print(str(to_show(row)).replace(', ', '\t').replace("'", "")[1:-1])

NP	WAVELENGTH	X
80	740	16.71
80	732	32.05
80	734	24.95
80	736	23.03
80	726	41.31
80	724	40.87
60	732	27.16
60	732	28.07

con.execute("""
UPDATE 'measurements' SET NOTES = 'minimal_area = 6' WHERE ID = 1;
""")

meas.del_row(5)

In [55]:
meas.commit()

In [9]:
con.close()